# Virtual environment
.venv/

# Python cache files
__pycache__/
*.pyc

# SQLite database
*.db

# Environment variables
.env

# IDE-specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Flask-Migrate
migrations/