{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
    <h1>{{ article.title }}</h1>
    <div class="article-content">
        {{ article.content|safe }}
    </div>
    {% if article.keywords %}
    <div class="mt-4">
        <h5>Keywords:</h5>
        <p>{{ article.keywords }}</p>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block styles %}
<style>
    .article-content img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 1em 0;
    }
</style>
{% endblock %}